
body {
    margin:0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
    
}

.lista {
    display: flex;
}
li {
    list-style: none;
    margin-right: 25px;
}

a {
    text-decoration: none;
    font-size: 17px;
    background-color: #5cb8ff;
    padding: 20px 30px;
   color: snow;
}
.titular {
    text-align:center;
    margin-top: 200px;
}
h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    margin-bottom:40px;
}

header { 
        background: url(fondo.jpg);
        height:100vh;
        background-size: cover;
}

/* Arranca Seccion Sobre Mi*/

h3 {
    text-align:center;
    font-weight: normal;
    font-size:40px;
}

.contenedor-sobremi img {
    width: 400px;
    height: 350px;
}

.contenedor-sobremi {
    display: flex;
    justify-content: space-around;
    
    
}
.contenedor-p-b {
    width: 52%;
    
}
.final {
    margin-bottom: 30px;
 }

 /* servicios  */

 .contenedor-servicios {
     display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

 .servicio {
   width: 23%;
   padding: 38px;
   border-radius: 10px;
   margin-bottom: 40px;
   color: white;
 }

 .violeta {
     background-color: #a46cda;
 }

 .celeste {
     background-color: cornflowerblue;
 }
 .servicio h4 {
     font-size: 30px;
     margin:0;
 }

 .servicio img {
     float: right;
 }